{{ if eq .chezmoi.os "windows" -}}
cd:
    command: "pwsh"
    args: ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
interpreters:
    ps1:
        command: "pwsh"
        args: ["-NoLogo"]
{{ end -}}

diff:
    pager: "delta"
edit:
    command: "nvim"
