age:
    identity: "~/key.txt"
    recipient: "age1tqerfm7h83nl3d6ewcmhze8jmndfaaznrt84e8r0cd9rux9l5cwq72c992"

{{ if eq .chezmoi.os "windows" -}}
cd:
    command: "pwsh"
    args: ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
{{ end -}}

diff:
    pager: "delta"
edit:
    command: "vim"
encryption: "age"
