{{ if eq .chezmoi.os "windows" -}}
cd:
    command: "pwsh"
    args: ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
{{ end -}}

diff:
    pager: "delta"
edit:
    command: "nvim"
merge:
    command: "nvim"
    args: ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]
