{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
[user]
    email = pcreighton429@gmail.com
    name = Patrick Creighton
[pull]
    rebase = true
[fetch]
    prune = true
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    light = false
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[diff]
    colorMoved = default
[init]
    defaultBranch = main
[rebase]
    autoStash = true
[log]
    date = local
[alias]
    # from https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git
    a = add
    b = branch
    bD = branch --delete --force
    cl = clone --recurse-submodules
    c = commit --verbose
    cmsg = commit --verbose --message
    d = diff
    dca = diff --cached
    l = pull
    lg = log --stat
    p = push
    rb = rebase
    rbc = rebase --continue
    ra = remote add
    rv = remote --verbose
    rrm = remote remove
    rh = reset
    rhh = reset --hard
    rs = restore
    rst = restore --staged
    rm = rm
    rmc = rm --cached
    sta = stash push
    stp = stash pop
    st = status
    su = submodule update
    sw = switch
    swc = switch --create
    wt = worktree
    wtls = worktree list
    wtmv = worktree move
    wtrm = worktree remove
    # from myself
    rhs = reset --soft
