#!/bin/bash

printf "\n# Update Chezmoi\n"
pushd ~/.local
sh -c "$(curl -fsLS get.chezmoi.io)"
popd

if ! command -v nix-env > /dev/null 2>&1
then
    printf "\n# Install Nix\n"
    {{ if eq .chezmoi.os "darwin" -}}
    sh <(curl -L https://nixos.org/nix/install)
    {{- else -}}
    sh <(curl -L https://nixos.org/nix/install) --daemon
    {{- end }}
else
    printf "\n# Nix already installed\n"
fi

printf "\n# Update Nix packages\n"
nix-channel --update
nix-env -qc  # see what version updates are available
nix-env --upgrade # perform upgrades

printf "\n# Install dotfile dependencies using Nix\n"
nixInstallIfNotInstalled()
{
    if ! command -v $1 > /dev/null 2>&1
    then
        printf "# Install $2\n"
        nix-env -iA nixpkgs.$2

    else
        printf "# $2 already installed at\t\t$(which $1)\n"
    fi
}
nixInstallIfNotInstalled bat        bat
nixInstallIfNotInstalled delta      delta
nixInstallIfNotInstalled dust       du-dust
nixInstallIfNotInstalled fd         fd
nixInstallIfNotInstalled fzf        fzf
nixInstallIfNotInstalled lsd        lsd
nixInstallIfNotInstalled rg         ripgrep
nixInstallIfNotInstalled starship   starship
nixInstallIfNotInstalled tmux       tmux
nixInstallIfNotInstalled tmuxinator tmuxinator
nixInstallIfNotInstalled zoxide     zoxide
nixInstallIfNotInstalled zsh        zsh

{{ if or (eq .chezmoi.os "darwin") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "fedora" -}}
printf "\n# Install dnf utilities\n"
sudo dnf -y update && sudo dnf -y install \
    fontconfig \
    unzip \
    util-linux-user \
{{- end -}}

if [ ! -d ~/.local/share/fonts/FiraCode ]
then
    printf "\n# Install fonts\n"
    mkdir -p ~/.local/share/fonts/FiraCode
    curl -L https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.zip --output FiraCode.zip
    unzip FiraCode.zip -d ~/.local/share/fonts/FiraCode "Fira*Mono.ttf"
    rm FiraCode.zip
    fc-cache -f
else
    printf "\n# Fonts already installed\n"
fi
{{- end }}

printf "\n# Checking GitHub account status\n"
nixInstallIfNotInstalled gh       gh
gh auth status
if [ $? -ne 0 ]
then
    gh auth login
fi
{{- end }}

if [ $(basename $SHELL) != "zsh" ]
then
    printf "\n# Make Zsh default shell\n"
    command -v zsh | sudo tee -a /etc/shells
    chsh -s $(which zsh)
else
    printf "\n# Zsh already default shell\n"
fi

printf "\n# Script finished successfully, open a new terminal to use new configuration\n"
