{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

if ! command -v rustup > /dev/null 2>&1
then
    printf "\n# Install rustup and rust utilities\n"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
    cargo install du-dust
fi

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
printf "\n# Install apt utilities\n"
sudo apt -y update && sudo apt -y install \
    bpytop \
    fd-find \
    fzf \
    neovim \
    ripgrep \
    tmux \
    zsh \
    zsh-syntax-highlighting

if command -v fdfind > /dev/null 2>&1 && ! [ -L ~/.local/bin/fd ]
then
    printf "\n# Symlink fd-find to fd\n"
    ln -s $(which fdfind) ~/.local/bin/fd
fi

{{- else if eq .chezmoi.osRelease.id "fedora" -}}
printf "\n# Install dnf utilities\n"
sudo dnf -y update && sudo dnf -y install 'dnf-command(config-manager)'
sudo dnf -y config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf -y update && sudo dnf -y install \
    bpytop \
    fontconfig \
    fd-find \
    fzf \
    gh \
    git-delta \
    neovim \
    ripgrep \
    starship \
    tmux \
    unzip \
    util-linux-user \
    zsh \
    zsh-syntax-highlighting
{{- end }}

{{ if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
if [ ! -d ~/.local/share/fonts/FiraCode ]
then
    printf "\n# Install fonts\n"
    mkdir -p ~/.local/share/fonts/FiraCode
    curl -L https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.zip --output FiraCode.zip
    unzip FiraCode.zip -d ~/.local/share/fonts/FiraCode "Fira*Mono.ttf"
    rm FiraCode.zip
    fc-cache -f
fi

printf "\n# Checking GitHub account status\n"
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install gh -y
{{- end }}
gh auth status
if [ $? -ne 0 ]
then
   gh auth login
fi
{{- end }}

if [ $SHELL != "/usr/bin/zsh" ]
then
    printf "\n# Make Zsh default shell\n"
    chsh -s /usr/bin/zsh
fi

if [ ! -f ~/.cache/zsh/history ]
then
    printf "\n# Create Zsh history file\n"
    mkdir -p ~/.cache/zsh
    touch ~/.cache/zsh/history
fi
{{- end }}
