#!/bin/sh
{{   if eq .chezmoi.osRelease.id "debian" }}
# Debian-specific code

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific code
{{   end }}

{{   else if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code
sudo dnf -y update && sudo dnf -y install 'dnf-command(config-manager)'
sudo dnf -y config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf -y update && sudo dnf -y install \
    fontconfig \
    gh \
    neofetch \
    neovim \
    starship \
    unzip \
    util-linux-user \
    zsh \
    zsh-syntax-highlighting
{{ end }}

# Install fonts
if [ ! -d ~/.local/share/fonts/FiraCode ]
then
    mkdir -p ~/.local/share/fonts
    curl -L https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/FiraCode.zip --output FiraCode.zip
    unzip FiraCode.zip -d ~/.local/share/fonts
    rm FiraCode.zip
    fc-cache -f
fi

# Login to GitHub
gh auth status
if [ $? -ne 0 ]
then
   gh auth login
fi

# Make Zsh default shell
if [ $SHELL != "/usr/bin/zsh" ]
then
    chsh -s /usr/bin/zsh
fi

# Create Zsh history file
mkdir -p ~/.cache/zsh
touch ~/.cache/zsh/history

zsh
