#!/bin/bash

printf "\n# Check Prerequisites\n"
check_installed() {
    if command -v $1 &>/dev/null; then
        printf "# $1 is installed at\t\t$(which $1)\n"
    else
        printf "# $1 is NOT installed\n"
        exit 1
    fi
}
check_installed curl
check_installed nvim
check_installed tmux
check_installed zsh

pushd ~
printf "\n# Install/update Chezmoi\n"
sh -c "$(curl -fsLS get.chezmoi.io/lb)"

printf "\n# Install/update GRM\n"
BINARY=grm_{{.chezmoi.os}}_{{.chezmoi.arch}}.tar.gz
curl -s https://api.github.com/repos/patrick-5546/grm/releases/tags/v0.55.2 \
  | awk -F'"' '/"browser_download_url":/{print $4}' | grep $BINARY \
  | xargs curl -LOs && tar -xf $BINARY && rm $BINARY && mv grm $HOME/.local/bin/
echo "info found version $($HOME/.local/bin/grm version) for latest/{{.chezmoi.os}}/{{.chezmoi.arch}}"
echo "info installed .local/bin/grm"
popd

printf "\n# Install/update GRM dotfile dependencies\n"
$HOME/.local/bin/grm install -f tar.gz atuinsh/atuin
$HOME/.local/bin/grm install -f tar.gz sharkdp/bat
$HOME/.local/bin/grm install -f tar.gz dandavison/delta
$HOME/.local/bin/grm install -f tar.gz bootandy/dust
$HOME/.local/bin/grm install -f tar.gz sharkdp/fd
$HOME/.local/bin/grm install -f tar.gz junegunn/fzf
$HOME/.local/bin/grm install -f tar.gz jesseduffield/lazygit
$HOME/.local/bin/grm install -f tar.gz lsd-rs/lsd -f gnu
$HOME/.local/bin/grm install -f tar.gz BurntSushi/ripgrep
$HOME/.local/bin/grm install -f tar.gz starship/starship
# $HOME/.local/bin/grm install -f tar.gz sxyazi/yazi
$HOME/.local/bin/grm install -f tar.gz ajeetdsouza/zoxide

printf "\n# Install/update completions\n"
mkdir -p $HOME/.config/zsh/completions
pushd $HOME/.config/zsh/completions
$HOME/.local/bin/atuin gen-completions --shell zsh -o .
$HOME/.local/bin/bat --completion zsh >> _bat  # doesn't work
$HOME/.local/bin/chezmoi completion zsh >> _chezmoi
$HOME/.local/bin/delta --generate-completion zsh >> _delta  # needs to be sourced manually
curl -o _dust https://raw.githubusercontent.com/bootandy/dust/master/completions/_dust
curl -o _fd https://raw.githubusercontent.com/sharkdp/fd/master/contrib/completion/_fd
$HOME/.local/bin/fzf --zsh >> _fzf  # doesn't work
$HOME/.local/bin/grm completion zsh >> _grm  # needs to be sourced manually
# could not find zsh completion for lsd
$HOME/.local/bin/rg --generate=complete-zsh >> _rg
$HOME/.local/bin/starship completions zsh >> _starship
curl -o _zoxide https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/contrib/completions/_zoxide
popd

{{ if or (eq .chezmoi.os "darwin") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "fedora" -}}
printf "\n# Install dnf utilities\n"
sudo dnf -y update && sudo dnf -y install \
    fontconfig \
    unzip \
    util-linux-user \
{{- end -}}

if [ ! -d ~/.local/share/fonts/FiraCode ]
then
    printf "\n# Install fonts\n"
    mkdir -p ~/.local/share/fonts/FiraCode
    curl -L https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.zip --output FiraCode.zip
    unzip FiraCode.zip -d ~/.local/share/fonts/FiraCode "Fira*Mono*.ttf"
    rm FiraCode.zip
    fc-cache -f
else
    printf "\n# Fonts already installed\n"
fi
{{- end -}}
{{- end -}}

printf "\n# Checking GitHub account status\n"
$HOME/.local/bin/grm install cli/cli
gh auth status
if [ $? -ne 0 ]
then
    gh auth login
fi

if [ $(basename $SHELL) != "zsh" ]
then
    printf "\n# Make Zsh default shell\n"
    command -v zsh | sudo tee -a /etc/shells
    chsh -s $(which zsh)
else
    printf "\n# Zsh already default shell\n"
fi

printf "\n# Script finished successfully, open a new terminal to use new configuration\n"
