if (-Not (Test-Path {{ .chezmoi.homeDir }}/.chezmoikey.txt -PathType Leaf)) {
    Write-Host "# create ~/.chezmoikey.txt"
    age --decrypt --output "{{ .chezmoi.homeDir }}/.chezmoikey.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
}
