#!/bin/sh
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL Ubuntu-specific code
sudo apt -y update && sudo apt -y install \
    bpytop \
    fzf \
    neofetch \
    neovim \
    ripgrep \
    zsh \
    zsh-syntax-highlighting
{{   else if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code
sudo dnf -y update && sudo dnf -y install 'dnf-command(config-manager)'
sudo dnf -y config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf -y update && sudo dnf -y install \
    bpytop \
    fontconfig \
    fzf \
    gh \
    git-delta \
    neofetch \
    neovim \
    ripgrep \
    starship \
    unzip \
    util-linux-user \
    zsh \
    zsh-syntax-highlighting

# Install fonts
if [ -d ~/.local/share/fonts/FiraCode ]
then
    rm -rf ~/.local/share/fonts/FiraCode/*
else
    mkdir -p ~/.local/share/fonts/FiraCode
fi
curl -L https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.zip --output FiraCode.zip
unzip FiraCode.zip -d ~/.local/share/fonts/FiraCode "Fira*Mono.ttf"
rm FiraCode.zip
fc-cache -f

# Login to GitHub
gh auth status
if [ $? -ne 0 ]
then
   gh auth login
fi
{{ end }}
# Make Zsh default shell
if [ $SHELL != "/usr/bin/zsh" ]
then
    chsh -s /usr/bin/zsh
fi

# Create Zsh history file
if [ ! -f ~/.cache/zsh/history ]
then
    mkdir -p ~/.cache/zsh
    touch ~/.cache/zsh/history
fi
