#!/bin/sh

if [ ! -f "{{ .chezmoi.homeDir }}/.chezmoikey.txt" ]; then
    printf "# create ~/.chezmoikey.txt\n"
    age --decrypt --output "{{ .chezmoi.homeDir }}/.chezmoikey.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "{{ .chezmoi.homeDir }}/.chezmoikey.txt"
fi
